<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">File Uploader</a>
        </div>
    </div>
</nav>
<div class="container">
    <h1>File Uploader</h1>
    <div>
        <p><em>Use this tool to upload files, then view a list of uploaded files.</em></p>
        <p><em>Click button to change the view.</em></p>
    </div>
    <div>
        <div class="col-sm-12">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button class="btn btn-{{app.display.uploadForm.active ? 'primary':'default'}}"
                            type="button"
                            ng-click="app.show('uploadForm')">{{app.display.uploadForm.title}}</button>
                </div>
                <div class="btn-group" role="group">
                    <button class="btn btn-{{app.display.list.active ? 'primary':'default'}}"
                            type="button"
                            ng-click="app.show('list')">{{app.display.list.title}}</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="app.display.uploadForm.active">
        <upload-form></upload-form>
    </div>
    <div ng-show="app.display.list.active">
        <list></list>
    </div>
</div>