<div class="container">
    <h3>File Upload</h3>
    <div>
        <p><em>Upload a file providing title and description.</em></p>
    </div>
    <div class="container">
        <div ng-show="!!form.notify" class="alert alert-info">{{form.notify}}</div>
        <form class="form form-horizontal">
            <div class="form-group col-sm-12">
                <label class="control-label col-md-3">File</label>
                <div class="col-md-9">
                    <input id="{{ form.fileId }}" type="file"
                           file-reader="form.upload"
                           placeholder="File"
                           class="form-control">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-md-3">Title</label>
                <div class="col-md-9">
                    <input type="text"
                           spellcheck="true"
                           ng-model="form.file.title"
                           placeholder="Title"
                           class="form-control">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="control-label col-md-3">Description</label>
                <div class="col-md-9">
                    <input type="text"
                           spellcheck="true"
                           ng-model="form.file.description"
                           placeholder="Description"
                           class="form-control">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning" ng-click="form.reset()">Reset</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-success" ng-click="form.save()">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>